:root{
    --branco-principal:
    #FFFFFF;
    --cinza-secundária:
    #c0c0c0;
    --botão-azul:
    #167BF7;
    --cor-de-fundo:
    #00030C;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botão {
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botão__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container_imagem{
   margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 6em;
}
.secundario_imagem{
    width: 10%;
}
.container_secundario{
    align-items: center;
    margin:0 10em;
}
.descricao_titulo{
    font-weight: 700;
    
}